.userData{
  color: cornflowerblue;
}
p{
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-items: center;
  font-weight: 400;
}
img{
  margin: 5px;
  padding: 2px;
  max-width: 160px;
}
.btn-back{
  position: absolute;
  right: 20vw;
  top: 14vh;
  color:violet;
  border-radius: 5px;
  background-color:springgreen;
  width: 100px;
  height: 40px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
button{
  cursor: pointer;
}
