/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Silkscreen", cursive;
}
li {
  list-style: none;
}

.navbar {
  font-size: medium;
  background-color: slateblue;
  padding: 5px;
  height: 70px;
}

.navbar a {
  color: aqua;
}

.navbar ul {
  display: flex;
  padding: 5px;
  margin: 5px;
}

.navbar li {
  list-style: none;
}

.navbar li:hover {
  border-bottom: 1px solid burlywood;
}

.content {
  align-items: center;
}

.container {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 3px;
}

.userData {
  color: chocolate;
}

p {
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-items: center;
  font-weight: 400;
}

img {
  margin: 5px;
  padding: 2px;
  max-width: 160px;
}

.btn-back {
  position: absolute;
  right: 20vw;
  top: 90px;
  color: violet;
  border-radius: 5px;
  background-color: springgreen;
  width: 100px;
  height: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

button {
  cursor: pointer;
}
